@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-dark {
    @apply backdrop-blur-xl bg-black/40 border border-white/20;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}
